@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(bg.jpg);
    height: 86vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
}

.main .box {
    height: 86vh;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
}

nav {
    margin: auto;
    width: 76vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.b {
    position: relative;
    z-index: 10;
    padding: 3px 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 7px;
    background-color: rgba(20, 20, 20, 0.4);
    color: rgba(180, 173, 173);
    border: 1px solid rgba(180, 173, 173);
}

.btn {
    background-color: red;
    color: white;
    padding: 5px 33px;
    font-size: 24px;
    border-radius: 3px;
    border: none;
}

.btn-red {
    background-color: red;
    color: white;
    border: red;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
    border: none;
}

.main input {
    color: white;
    padding: 7px 33px;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgba(20, 20, 20, 0.4);
    border: 1px solid white;
}

nav svg {
    height: 5vh;
    fill: red;
    position: relative;
    z-index: 10;
}

.e {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
    gap: 14px;
}

.e> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
}

.e> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.e> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.separation {
    height: 7px;
    background-color: grey;
    z-index: 1;
    opacity: 0.3;
}

.netflix {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 160px;
    gap: 14px;
    padding: 20px 100px;
}

.u {
    position: relative;
}

.netflix img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.netflix video {
    position: absolute;
    top: 59px;
    right: 0;
    width: 479px;
}

.netflix>div {
    gap: 15px;
}

.netflix :nth-child(1) :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    padding: 10px 0;
}

.netflix :nth-child(1) :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.netflix2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 165px;
    padding: 20px 20px;
    gap: 14px;
}

.netflix2>div {
    gap: 15px;
}

.netflix2> :nth-child(2) :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    padding: 10px 0;
}

.netflix2> :nth-child(2) :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.netflix2 img {
    position: relative;
}

.point {
    width: 301px;
    height: 104px;
    border: 2px solid rgb(84, 81, 81);
    border-radius: 15px;
    bottom: 123px;
    left: 107px;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.point img {
    width: 55px;
    height: 80px;
    position: relative;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    margin: 2px 2px 2px 2px;
}

.v {
    position: relative;
}

.v>.point {
    position: absolute;
    top: 359px;
    left: 170px;
}

.point :nth-child(2) :nth-child(1) {
    grid-column: 2/3;
    font-weight: 700;
    font-size: 16px;
}

.point :nth-child(2) :nth-child(2) {
    grid-column: 2/3;
    font-weight: 500;
    font-size: 14px;
    color: rgb(44, 96, 216);
}

.netflix3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 160px;
    gap: 14px;
    padding: 20px 100px;
}

.u {
    position: relative;
}

.netflix3 img {
    position: relative;
    z-index: 10;
}

.netflix3 video {
    position: absolute;
    top: 59px;
    left: 150px;
    width: 359px;
}

.netflix3>div {
    gap: 15px;
}

.netflix3 :nth-child(1) :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    padding: 10px 0;
}

.netflix3 :nth-child(1) :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.netflix4 {
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 165px;
    gap: 14px;
}


.netflix4 :nth-child(2) :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    padding: 10px 0;
}

.netflix4> :nth-child(2) :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.netflix4 img {
    width: 37vw;
    position: relative;
}



.free {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.free> :first-child {
    color: white;
    font-weight: 900;
    font-size: 48px;
    margin: 20px;
}

.w {
    height: 31px;
    background-color: rgb(45 45 45);
    opacity: 1;
    width: 60vw;
    padding: 13px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.w:hover {
    background-color: rgb(65, 65, 65);
}

footer {
    max-width: 80vw;
    padding: 30px;
    margin: auto;
    color: white;
    font-size: 19px;
}

.footer-item a {
    text-decoration: underline;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 12px;
}

.footer-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    color: white;
    column-gap: 23px;
}

.ques {
    padding: 34px 15px;
}

@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .w {
        font-size: 15px;
    }

    .netflix {
        flex-wrap: wrap;
        margin: auto;
    }

    .netflix2 {
        flex-wrap: wrap;
        margin: auto;
        padding: 20px 100px;
    }

    .netflix3 {
        flex-wrap: wrap;
        margin: auto;
    }

    .netflix4 {
        flex-wrap: wrap;
        margin: auto;
    }

    .u img {
        width: 305px;
    }

    .netflix video {
        width: 305px;
    }

    .netflix3 video {
        width: 185px;
        top: 27px;
        left: 57px;
    }

    .e> :nth-child(1) {
        font-size: 32px;
    }

    .e> :nth-child(2) {
        font-size: 18px;
    }

    .e> :nth-child(3) {
        font-size: 18px;
    }

    .e> :nth-child(4) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .free> :nth-child(1) {
        text-align: center;
        font-size: 32px;
    }

    .footer-item {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .netflix :nth-child(1) :nth-child(1) {
        font-size: 32px;
        justify-content: center;
        align-items: center;
    }

    .netflix :nth-child(1) :nth-child(2) {
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }

    .netflix2 :nth-child(2) :nth-child(1) {
        font-size: 32px;
        justify-content: center;
        align-items: center;
    }

    .netflix2 :nth-child(2) :nth-child(2) {
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }

    .netflix3 :nth-child(1) :nth-child(1) {
        font-size: 32px;
        justify-content: center;
        align-items: center;
    }

    .netflix3 :nth-child(1) :nth-child(2) {
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }

    .netflix4 :nth-child(2) :nth-child(1) {
        font-size: 32px;
        justify-content: center;
        align-items: center;
    }

    .netflix4 :nth-child(2) :nth-child(2) {
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }

    .point {
        width: 301px;
        height: 104px;
        bottom: 123px;
        left: 107px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (max-width: 1300px) {

    .footer-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }



    .footer a {
        font-size: 14px;
        color: white;
    }

}
